version: "3.7"
services:
  mazda2mqtt:
    image: "mazda2mqtt:latest"
    environment:
      - MQTT_BROKER=${MQTT_BROKER:-core-mosquitto}
      - MQTT_PORT=${MQTT_PORT:-1883}
      - MQTT_USER=${MQTT_USER}
      - MQTT_PASSWORD=${MQTT_PASSWORD}
      - MAZDA_USERNAME=${MAZDA_USERNAME}
      - MAZDA_PASSWORD=${MAZDA_PASSWORD}
      - MAZDA_REGION=${MAZDA_REGION}
    restart: unless-stopped
